*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: 0px auto;
}


/************************
 	header section (1st)
 ************************/

header{
	width: 100%;
	padding: 50px 0px;
	position: absolute;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.nav-menu{
	text-align: right;
}
.top-content{
	margin-bottom: 20px;
}
.top-content span{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #3d2514;
}
.top-content img{
	vertical-align: middle;
	margin-right: 10px;
}
.menus ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
.menus ul li a{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #3d2514;
	letter-spacing: 3px;
}


/************************
 	banner section (2nd)
 ************************/

.banner{
	width: 100%;
	padding: 140px 0px;
	background-image: url(../img/banner-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-content{
	display: flex;
}
.banner-left, .banner-right{
	flex-basis: 50%;
}
.banner-left{
	margin-top: 120px;
}
.banner-right img{
	width: 100%;
}
.banner-left span{
	font-family: 'Bebas Neue', cursive;
	font-size: 23px;
	color: #3d2514;
	border: 2px dashed #3d2514;
	padding: 0px 6px;
}
.banner-left h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 114px;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
    text-shadow: 3px 5px #f7f7f7;

}
.banner-left h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
    text-shadow: 2px 3px #f7f7f7;
}




/************************
 	feature section (3rd)
 ************************/



.features{
	width: 100%;
	padding: 100px 0px;
}
.b-img{
	padding-bottom: 30px;
}
.f-content{
	display: flex;
}
.f-left{
	margin-right: 20px;
}
.f-right{
	margin-left: 20px;
}
.f-content{
	width: 100%;
	height: auto;
}

.b-item{
	position: relative;
}
.b-content{
	position: absolute;
	top: 30px;
	left: 30px;
}
.b-content h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	color: white;
}
.b-content h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	font-weight: 500;
	letter-spacing: 2px;
	color: white;
}
.b-content{
	line-height: 38px;
}
.choose{
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}
.choose button{
	padding: 10px 30px;
	background-color: #ffc135;
	color: #42200b;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: 500;
	border: none;
	margin-bottom: 30px;
}
.choose h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	color: #42200b;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.choose p{
	font-family: 'Montserrat', sans-serif;
	color: #42200b;
	font-size: 16px;
	line-height: 32px;
}
.category{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}
.bur-img h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 37px;
	font-weight: 500;
	color: #42200b;
	margin-bottom: 20px;
}
.bur-img p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #42200b;
	margin-bottom: 40px;
}
.bur-img button{
	padding: 8px 45px;
	background-color: #df1c1c;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: 500;
	border: none;
	margin-bottom: 30px;
}


.events{
	width: 100%;
	padding: 60px 0px;
}
.e-right img{
	width: 100%;
	height: auto;
}
.e-item{
	display: flex;
}
.e-left{
	flex-basis: 50%;
	padding-top: 10px;
}
.e-right{
	flex-basis: 50%;
}
.e-left h4{
	font-family: 'Bebas Neue', cursive;
	font-size: 29px;
	color: #42200b;
	letter-spacing: 3px;
}
.e-left h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 41px;
	color: #42200b;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.e-left p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #42200b;
	line-height: 35px;
}
.x-box{
	padding: 16PX 16PX 12PX 16PX;
	box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}
.owl-theme .owl-nav{
	display: none;
}
.owl-theme .owl-dots{
	position: absolute;
    bottom: 16px;
    left: 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffd562;
}
.form-section{
	display: flex;
}
.part-1, .part-3{
	flex-basis: 25%;
}
.part-2{
	flex-basis: 50%;
}
.part-1 img, .part-3 img{
	width: 100%;
}
.hdng{
	text-align: center;
	margin-top: 150px;
}
.hdng h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 29px;
	color: #42200b;
	letter-spacing: 3px;
}
.hdng h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 41px;
	color: #42200b;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
form{
	display: grid;
	grid-template-columns: auto auto;
}
.form input{
	padding: 25px;
	background: transparent;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding-right: 190px;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: #42200b;
	border-radius: 2px;
	margin-right: 20px;
	
}
.three{
	display: contents;
}
.three .btn input{
	padding: 25px;
	padding-right: 210px;
	background-color: #df1c1c;
	color: white;
	font-family: 'Alfa Slab One', cursive;
	font-size: 20px;
	border: none;
	text-align: center;
}
.footer-bg img{
	position: relative;
}
.footer-content{
    background-image: url(../img/foot-bg.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.footer-left{
	flex-basis: 70%;
}
.footer-right{
	flex-basis: 30%;
}
.footer-left img{
	padding-top: 75px;
	padding-left: 75px;
	margin-bottom: 40px;
}
.footer-left p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	padding-left: 75px;
	line-height: 30px;
	margin-bottom: 200px;
}
.footer-left h6{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	padding-left: 75px;

}
.footer-right{
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	margin-top: 250px;
}
.ft-1 i{
	margin-right: 20px;
	margin-left: 5px;
	margin-bottom: 30px;
}
.ft-2 i{
	margin-right: 16px;
}
.social-icon ul li{
	list-style: none;
	display: inline-block; 
	margin: 0px 10px;
}
.social-icon ul li i{
	border: 1px solid white;
	background-color: white;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	color: black;
	text-align: center;
	line-height: 30px;
	transition: 0.5s;
	margin-top: 200px;
}
.social-icon ul{
	margin-left: 250px;
}
